{% extends "admin/change_list.html" %}
{% load static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/post_cards.css' %}">
{% endblock %}

{% block object-tools-items %}
  {{ block.super }}
  {% if has_add_permission %}
    {% if gpt_article_url %}
      <li><a href="{{ gpt_article_url }}" class="addlink">Dodaj z GPT</a></li>
    {% elif opts.app_label == 'posts' and opts.model_name == 'draftpost' %}
      <li><a href="{% url 'admin:posts_draftpost_gpt_article' %}" class="addlink">Dodaj z GPT</a></li>
    {% endif %}
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'admin/post_cards.js' %}" defer></script>
{% endblock %}

{% block result_list %}
  {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
  <div class="results">
    {% if cl.formset %}
      {{ cl.formset.management_form }}
    {% endif %}
    {% include "admin/posts/includes/post_card_grid.html" %}
  </div>
  {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}

{% block filters %}
  {% if session_filters_remembered %}
    <div class="changelist-filter-actions">
      <a href="?_clear_session_filters=1" class="button">Wyczyść zapamiętane filtry</a>
    </div>
  {% endif %}
  {{ block.super }}
{% endblock %}
